<div 
  class="flash-card" 
  ng-controller="FlashCardCtrl"
  border-on-hover> 

  <form name="newCardForm" ng-submit="doPutRequest(cardInEditMode) && reset()">
    <button ng-click="editPopulate(thisCardId.id)">TESTING</button>
    <h1>{{thisCardId.id}}<input type="text" name="question" ng-model="cardInEditMode.question" value="{{cardInEditMode.question}}" required>
    </input></h1>

    <ul class="flash-card-answers">
        <li>  
          <input type="text" name="answers" ng-model="cardInEditMode.answers[0].text" value="{{cardInEditMode.answers[0].text}}"></input>
          <input type="checkbox" name="correct" ng-model="cardInEditMode.answers[0].correct"></input>
        </li>
        
        <li>  
          <input type="text" name="answers" ng-model="cardInEditMode.answers[1].text" value="{{cardInEditMode.answers[1].text}}"></input>
          <input type="checkbox" name="correct" ng-model="cardInEditMode.answers[1].correct"></input>
        </li>
        
        <li>  
          <input type="text" name="answers" ng-model="cardInEditMode.answers[2].text" value="{{cardInEditMode.answers[2].text}}"></input>
          <input type="checkbox" name="correct" ng-model="cardInEditMode.answers[2].correct"></input>
        </li>
    </ul>
    <select name="category" ng-model="cardInEditMode.category" required>
      <option value="MongoDB">MongoDB</option>
      <option value="Express">Express</option>
      <option value="Angular">Angular</option>
      <option value="Node">Node</option>
    </select>
    <input type="submit" id="submit" value="Submit"/>
</div>
</form>
<pre>{{ cardInEditMode | json}}</pre>